@import "tailwindcss";

@theme {
    --color-title-color: #10B981; 
    
    --color-main-background: #020c0a; 
    
    --color-card-login: #051a14; 
    
    --color-common-text: #ecfdf5;

    --font-code: "JetBrains Mono", monospace;
}